body {
    color: #494331;
    font-family: 'Source Serif Pro', serif; }

.bg {
    background-color: #FF784F; }

.title {
    font-family: 'Pacifico', serif;
    text-align: center;
    color: #494331 }

.header {
    font-family: 'Pacifico', serif;
    color: #FBFFB9 }

.header:hover {
    color: #F2EFEA }

.active { 
    color: #246A73; font-weight: bolder; }

.nav {
    text-align: center;
    vertical-align: middle;
    font-size: 110%; }

.nav ul {
    list-style: none;
    margin: 0;
    padding-top: 0;
    overflow: hidden; }

.nav li {
    padding: 20px 30px 10px 30px; }

li a {
    display: block;
    color: #368F8B;
    text-decoration: none; }

.field {
    font-family: 'Source Serif Pro', serif;
    background-color: #F2EFEA;
    border-radius: 1rem; }

.posts {
    font-size: 130%; }

.buttons {
    clear: both;
    padding: 0 1rem 0 1rem; }

.filters {
    padding: 0 1rem 0 1rem; }

.line {
    background-color: #813405;
    border: none;
    height: 1px; }