.body {
    background-color: #F3DFC1;
}

.active { 
    color: #246A73; font-weight: bolder; }

.nav {
    text-align: center;
    vertical-align: middle;
    font-size: 110%; }

.nav ul {
    list-style: none;
    margin: 0;
    padding-top: 0;
    overflow: hidden;
    background-color: #F3DFC1; }

.nav li {
    padding: 20px 30px 10px 30px; }

li a {
    display: block;
    color: #368F8B;
    text-decoration: none; }

.posts {
    font-size: 130%;
}

tr:nth-child(even) {
    background-color: #ccc;
}